<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <title>TA - Validate</title>
<ul>
  <li><a href="/menu">Main Menu</a></li>
  <li style="float:right"><a class="active" href="/logout">Logout</a></li>
</ul>
<img src="/static/12.png" alt="University of Milwaukee!">
</head>
<body>
    <p>{{message}}</p></center>
    <ul>
        {% for i in conflicts %}
            <li>{{ i.course_name }} {{ i.start_time }} - {{ i.end_time }}
            {% if i.mon_flag == True %}M{% endif %}
            {% if i.tues_flag == True %}T{% endif %}
            {% if i.wed_flag == True %}W{% endif %}
            {% if i.thurs_flag == True %}R{% endif %}
            {% if i.fri_flag == True %}F{% endif %}
            {% if i.sat_flag == True %}S{% endif %}</li>
        {% endfor %}
    </ul>
</body>
</html>
{% endblock content %}