
h1 {
  margin: 0 0 0.25em;
}

input {
  background-color: #ffcf4d;
  color: black;
  border: 1px solid black;
  border-radius: 2px;
  padding: 6px 12px;
  font-size: 16px;
}


/* Reset Select */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #ffcf4d;
  background-image: none;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select */
.select {
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  line-height: 3;
  background: #ffcf4d;
  overflow: hidden;
  border-radius: .25em;
}
select {
  flex: 1;
  padding: 0 .5em;
  color: #000000;
  cursor: pointer;
}
/* Arrow */
.select::after {
  content: '\25BC';
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #FFBD00;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}
/* Transition */
.select:hover::after {
  color: #f39c12;
}